@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #23252c;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

main {
    width: 317px;
    background-color: #1a1b21;
    color: white;
    margin: 3rem auto;
    border-radius: 10px;
}

.info {
    text-align: center;
}

.profile-img {
    width: 317px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.info > h2 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 2px;
}

.job_title {
    font-size: 12px;
    color: #7daa41;
    margin-top: 0;
}

.contact {
    font-size: 10.24px;
    color: #f5f5f5;
}

.about > p,
.interests > p {
    font-size: 10.24px;
    color: #dcdcdc;
    line-height: 150%;
}

.about,
.interests {
    padding: 2px 30px;
}

.about > h1,
.interests > h1 {
    font-size: 16px;
    color: #f5f5f5;
}

.footer {
    background-color: #161619;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;

    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.footer > a {
    color: #918e9b;
}

.footer > a:hover {
    color: #7daa41;
}

.call-to-action {
    display: flex;
    margin: 15px auto;
    justify-content: space-evenly;
}

.btn {
    width: 115px;
    height: 34px;
    border-radius: 6px;
    border: none;
}

.btn-dark {
    color: white;
    background-color: #5093e2;
}
